   .cart-container {
    display: flex;
    align-items: center;
  }
  
  .cart-icon-container {
    position: relative;
  }
  
  .cart-counter {
    position: absolute;
    top: 50px;
    right: 1px;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .cart-counter p {
    margin: 0;
    color: white;
  }

  .carritoRojo {
    color: red;
  }
  .carritoVerde {
    color: greenyellow;
  }

  /* src/components/NavBar/CartWidget.css */
.cartwidget {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  position: relative;
}

.carritoVerde {
  color: green;
}

.carritoRojo {
  color: red;
}

.cartwidget p {
  margin: 0 0 0 5px;
  font-size: 1.2em;
  color: #fff;
  font-weight: bold;
  background-color: #333;
  padding: 2px 5px;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  right: -10px;
}
